#btns{
    margin-top: 00.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.filter-btn {
    font-weight: bold;
    background-color: white;
    border: 1px solid rgb(219, 215, 215);
    padding: 0.5rem;
}


.filter-wrapper {
    width: 100%;
  }

  .content-row {
    display: flex;
    width: 100%;
  }
  

  .sidebar {
    width: auto;
    padding: 1rem;
  }
  
 
  .shop-content {
    flex: 1;
    padding: 1rem;
    transition: margin-left 0.3s ease;
  }
  
  .filter-group {
margin: 1rem;
border-bottom: 1px solid rgb(219, 215, 215);

  }
  
  .filter-group select {
    width: 100%;
    padding: 6px;
    font-size: 0.6rem;
    border: none;
  }

  label {
    color: black;
    font-weight: bold;
    font-size: 0.7rem;
  }
  #dropdown-container {
    
    position: relative;
    display: flex;
    justify-content: center;
  }
  #dropdown-container button {
    background-color: white;
    border: none;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    z-index: 1;
    width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-menu li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background-color: #f0f0f0;
  }
  #filter-btn {
    font-weight: bold;
    background-color: white;
    border: 1px solid rgb(219, 215, 215);
    padding: 0.5rem;
}